* {
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  background-color: #36393E;
}

.title {
  color: #FFFFFF;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.shade {
    /* -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6); */
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);

    /* the rest of your styling */
}

.content {
  padding: 2rem;
}

.card-base {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 300px;
  margin-top: 30px;
  border-radius: 8px;
  background-color: #474A4F;
  box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.16);
  padding: 30px;
}

.done {
  text-decoration: line-through;
}

li {
  cursor: pointer;
  background-color: transparent;
}

ul {
  background-color: transparent;
}

.trans {
  background-color: transparent;
}

.ip2 {
  background-color: #36393E;
  border-color: #ebebeb;
  border-radius: 0.3rem;
}